/*Fond*/
.container{
   
}

.localisation{
   
}
.image{
   
}


/* Texte du titre*/
.mt {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    color :#BA8E23;
}

/* Div de présentation */
.image_principale {
    width: 400px;
    height: 400px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.nom_eleve{
    font-size: 40px;
    margin-left: 45%;
    font-family: Gabriola
}

.presentation{
    display: flex;
    gap : 16px;
    
}

.container {
    display: flex;
    flex-direction: column;
    gap: 13px;
   
  }

.image_rival{
    width: 15%;
}

.div_tableau_description{
    padding-left:20%;
	text-align:center;
    font-family: Gabriola
	font-size: 20px;
}
.caracteristiques{
    display: flex;
    flex-direction : column;
    gap: 16px;
    text-align: center;
    font-family: Gabriola
	font-size: 40px;
}
body{
		background-color : #000159;
	
}
.Texte-typhlosion{
	color : #10065E;
}

.Texte-mewb{
	color : #5CECFF;
	
}
h1{
	color : #FFFFFF;
	
}
h2{
	color : #FFFFFF;
	
}
h3{
	color : #FFFFFF;
	
}